/*TO DO: Decide Font and background color*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-family: monospace, sans-serif;
  background-color: rgb(214, 214, 214);
  color: rgb(32, 32, 32);
  background-color: rgb(32, 32, 32);
}
.headline {
  display: flex;
  justify-content: center;
  padding: 100px;
  color: #eef104;
}

.nav-bar {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}
nav {
  flex: 2;
}

.nav-links {
  display: flex;
  list-style: none;
}
.nav-links {
  justify-content: space-evenly;
}
.nav-link {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 600;
}
.nav-link:hover {
  /* Underline From Center */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #eef104;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-link:hover:before,
.nav-link:focus:before,
.nav-link:active:before {
  left: 0;
  right: 0;
}

/* TO DO: Section Images on:hover = display different pictures|SIGN|NOT DONE| */
/*TO DO: Align Section image on RIGHT SECTION edge|SIGN|NOT DONE| */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: rgba(255, 238, 50, 0.1);
}
/* TO DO:ADD ON HOVER - Some cool animation shit*/
.introduction-text,
.history-text,
.best-games-text {
  flex: 1;

  padding: 20px;
  margin: 40px 40px;
  color: rgb(0, 0, 0);
}
.introduction-text:hover,
.history-text:hover,
.best-games-text:hover {
  background-color: yellow;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

/* TO DO:ADD ON HOVER - Some cool animation shit*/
.introduction-image-container,
.history-image-container,
.best-games-image-container {
  flex: 1;
  margin: 20px;
  opacity: 0.8;
}

.section-image {
  /*fixed image size*/
  height: 30vh;
  /*width: 100%;/
  /*height: auto; for scalable images*/
}
.hover_img a {
  position: relative;
}
.hover_img a span {
  position: absolute;
  display: none;
  z-index: 99;
}
.hover_img a:hover span {
  display: block;
}
#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
@-webkit-keyframes imageCycle {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.best-games-image-container {
  position: relative;
  height: 50vh;

  margin: 0 auto;
}
.best-games-image-container img {
  position: absolute;
  left: 0;
  height: 40vh;
}

.best-games-image-container:hover img {
  -webkit-animation-name: cimageCycle;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: imageCycle;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  -o-animation-name: imageCycle;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 8s;

  animation-name: imageCycle;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
.best-games-image-container img:nth-of-type(1) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
.best-games-image-container img:nth-of-type(2) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
.best-games-image-container img:nth-of-type(3) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
.best-games-image-container img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px;
  gap: 200px;
  font-style: italic;
  color: #eef104;
  background-color: rgba(255, 238, 50, 0.1);
}
#made-by {
  font-style: normal;
}
