@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Scroll Bar */
::-webkit-scrollbar {
  width: 0.6em;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: black;
  scroll-behavior: smooth;
  border-radius: 100vh;
}
::-webkit-scrollbar-thumb {
  background: rgb(234, 255, 0);
  border-radius: 100vh;
  border: 2px solid black;
}

#img-top {
  position: absolute;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 50vh;
  width: 100vw;
  animation-name: moveUp;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#img-bottom {
  position: absolute;
  position: fixed;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  z-index: 1;
  animation-name: moveDown;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
html {
  background-color: black;
}

/* Body styles */
body {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: rgba(255, 238, 50, 0.1);
  height: 130vh;
}
/* Main Container */
.container {
  justify-content: center;
  width: min(90%, 300rem);
  height: 130vh;
  overflow: hidden;
  background-color: black;
}

#ak {
  position: absolute;
  top: 40%;
  right: 15%;
  animation-name: moveAkInRight;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#m4a1 {
  position: absolute;
  top: 32%;
  left: 15%;
  animation-name: moveM4a1InLeft;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

/* Circle animation */
.circle-animation {
  position: absolute;
  left: 50%;
  top: 15%;
  opacity: 0;
  animation-name: fade;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  transform: translateX(-48%);
}

.ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item #test {
  color: #333;
}
.ih-item #test:hover {
  text-decoration: none;
}
.ih-item img {
  width: 100%;
  height: 100%;
}

.ih-item.circle {
  position: relative;
  width: 420px;
  height: 420px;
  border-radius: 50%;
}
.ih-item.circle .img {
  position: relative;
  width: 420px;
  height: 420px;
  border-radius: 50%;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6),
    0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
  border-radius: 50%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.square {
  position: relative;
  width: 316px;
  height: 216px;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.circle.effect1 .spinner {
  width: 430px;
  height: 430px;
  border: 10px solid rgb(234, 255, 0);
  border-right-color: rgb(32, 32, 32);
  border-bottom-color: rgb(32, 32, 32);

  border-radius: 50%;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .img {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 0;
  width: auto;
  height: auto;
}
.ih-item.circle.effect1 .img:before {
  display: none;
}
.ih-item.circle.effect1.colored .info {
  background: #1a4a72;
  background: rgba(26, 74, 114, 0.6);
}
.ih-item.circle.effect1 .info {
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 0;
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .info h3 {
  color: rgb(234, 255, 0);
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  font-family: monospace;
  margin: 50px;
  padding: 55px 0 0 0;
  height: 110px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.ih-item.circle.effect1 .info p {
  color: #bbb;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.ih-item.circle.effect1 #test:hover .spinner {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ih-item.circle.effect1 #test:hover .info {
  opacity: 1;
}

@keyframes moveUp {
  0% {
    top: 0;
  }
  100% {
    top: -50vh;
  }
}

@keyframes moveDown {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -50vh;
  }
}

@keyframes moveM4a1InLeft {
  0% {
    left: -100%;
  }
  80% {
    left: 15%;
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes moveAkInRight {
  0% {
    right: -100%;
  }
  80% {
    right: 15%;
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

/* circle-fade */

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Under 1030px query */
@media (max-width: 1030px) {
  .heading h1 {
    font-size: 8rem;
  }
  .headshot img {
    top: 30%;
  }
}
/* under 930px query */
@media (max-width: 930px) {
  .box1 img {
    margin-top: 100vh;
  }
}

/* Under 560px query */
@media (min-width: 560px) {
  .heading h1 {
    font-size: 6rem;
  }
}
