@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Scroll Bar */
::-webkit-scrollbar {
  width: 0.6em;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: rgb(48, 44, 44);
  scroll-behavior: smooth;
  border-radius: 100vh;
}
::-webkit-scrollbar-thumb {
  background: rgb(234, 255, 0);
  border-radius: 100vh;
  border: 2px solid black;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(234, 255, 0);
}

#img-top {
  position: absolute;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 50vh;
  width: 100vw;
  animation-name: moveUp;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#img-bottom {
  position: absolute;
  position: fixed;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  z-index: 1;
  animation-name: moveDown;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

/* Body styles */
body {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: yellow;
  height: 100vh;
}
/* Main Container */
.container {
  justify-content: center;
  width: min(90%, 300rem);
  height: 230vh;
  overflow: hidden;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.heading h1 {
  font-size: 9.5rem;
  text-transform: uppercase;
  font-family: monospace, sans-serif;
  font-weight: 900;
  text-align: center;
  z-index: 3;
  color: white;
  text-shadow: 5px 5px 10px white;
  min-width: 70%;
}

#ak {
  position: absolute;
  top: 40%;
  right: 15%;
  animation-name: moveAkInRight;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#m4a1 {
  position: absolute;
  top: 40%;
  right: 15%;
  animation-name: moveM4a1InLeft;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes moveUp {
  0% {
    top: 0;
  }
  100% {
    top: -50vh;
  }
}

@keyframes moveDown {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -50vh;
  }
}

@keyframes moveM4a1InLeft {
  0% {
    left: -100%;
  }
  80% {
    left: 15%;
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes moveAkInRight {
  0% {
    right: -100%;
  }
  80% {
    right: 15%;
  }
  100% {
    transform: rotate(20deg);
  }
}

/* Under 1030px query */
@media (max-width: 1030px) {
  .heading h1 {
    font-size: 8rem;
  }
  .headshot img {
    top: 30%;
  }
}
/* under 930px query */
@media (max-width: 930px) {
  .box1 img {
    margin-top: 100vh;
  }
}

/* Under 560px query */
@media (min-width: 560px) {
  .heading h1 {
    font-size: 6rem;
  }
}
