@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Scroll Bar */
::-webkit-scrollbar {
  width: 0.6em;
  z-index: 0;
}
::-webkit-scrollbar-track {
  background: rgb(48, 44, 44);
  border-radius: 100vh;
  z-index: 0;
}
::-webkit-scrollbar-thumb {
  background: rgb(234, 255, 0);
  border-radius: 100vh;
  z-index: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(234, 255, 0);
  z-index: 0;
}

#img-top {
  position: absolute;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 50vh;
  width: 100vw;
  animation-name: moveUp;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#img-bottom {
  position: absolute;
  position: fixed;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  z-index: 1;
  animation-name: moveDown;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

/* Body styles */
body {
  display: flex;
  position: relative;
  justify-content: center;
  height: 200vh;
}
/* Main Container */
.container {
  width: min(90%, 300rem);
  height: 230vh;
  overflow: hidden;
  background-color: yellow;
}

.heading h1 {
  position: absolute;
  font-size: 5.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  text-align: center;
  z-index: 3;
  color: black;
  min-width: 70%;
  animation-name: headingInLeft;
}

.headshot img {
  width: 20rem;
  height: auto;
  border: 4px solid black;
  position: absolute;
  animation-name: headshotDown;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: backwards;
  top: 20%;
  right: 16%;
}

.headshot img:hover {
  transform: scale(2);
}

/* Picture Grid */

.pictures {
  display: grid;
}

#box {
  height: 20rem;
  width: 18rem;
  border: 1px solid black;
}

/* Under 560px query */
@media (min-width: 560px) {
  .heading h1 {
    font-size: 6rem;
  }
}
/* Under 1030px query */
@media (min-width: 1030px) {
  .heading h1 {
    font-size: 8rem;
  }
}

@keyframes moveUp {
  0% {
    top: 0;
  }
  100% {
    top: -50vh;
  }
}

@keyframes moveDown {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -50vh;
  }
}

@keyframes headshotDown {
  0% {
    top: -100%;
  }
  100% {
    top: 20%;
  }
}
